# Mac system files
.pptx
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
.claude 
x_archive
*.h5
*.joblib

# Output folders
output/
outputs/
*.tif
archives/
# But keep EL030 (except tif files)
!**/output/
!**/output/**/EL030/
!**/output/**/EL030/**
!**/outputs/
!**/outputs/**/250_recon
!**/outputs/**/250_recon/**
**/output/**/EL030/**/*.tif

 02_FBM_Clustering/outputs/250_recon/clustering_recon/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.env
venv/
.venv/

# Data files (optional - add if you don't want raw data on GitHub)
*.npy
*.xlsx
*.xls
*.parquet


# Jupyter
.jupyter/02_FBM_Clustering/archives/
02_FBM_Clustering/*-Copy*.ipynb
02_FBM_Clustering/outputs/*Copy
02_FBM_Clustering/*-SAFE*.ipynb

**/<offending-file-name>

# Allow ERSP outputs to be pushed (large but needed for clustering input)
!**/outputs/**/04_ersp_LM_RAWONLY
!**/outputs/**/04_ersp_LM_RAWONLY/**

# Allow ERSP outputs to be pushed (large but needed for clustering input)
!**/outputs/**/04_ersp_LM_RAWONLY
!**/outputs/**/04_ersp_LM_RAWONLY/**
