# Mac system files
.pptx
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Output folders
output/
*.tif
archives/
# But keep EL030 (except tif files)
!**/output/
!**/output/**/EL030/
!**/output/**/EL030/**
**/output/**/EL030/**/*.tif

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.env
venv/
.venv/

# Data files (optional - add if you don't want raw data on GitHub)
*.npy
*.xlsx
*.xls
*.parquet


# Jupyter
.jupyter/02_FBM_Clustering/scripts/archives/
02_FBM_Clustering/scripts/*-Copy*.ipynb
02_FBM_Clustering/scripts/*-SAFE*.ipynb
